<div class="grid-container">
  <p>{{ 'review.detail.title' | translate }}</p>

  @if (review) {
    <mat-card appearance="outlined" class="review-card">
      <mat-card-header class="card-header-secondary">
        <mat-card-title-group>
          <mat-card-title>{{ review.usuario }}</mat-card-title>
          <mat-card-subtitle>{{ review.fecha | date:'fullDate':undefined:currentLang }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content class="review-content">
        <div class="review-details">
          <p>
            <strong>{{ 'review.detail.product' | translate }}:</strong> {{ review.producto }}
          </p>

          <p class="review-comment">
            <strong>{{ 'review.detail.comment' | translate }}:</strong><br>
            {{ review.comentario }}
          </p>

          <div class="review-rating">
            <p class="section-title">
              <strong>{{ 'review.detail.rating' | translate }}:</strong> {{ review.valoracion }}/5
            </p>
            <div class="stars">
              @for (star of getStars(review.valoracion); track $index) {
                <mat-icon [ngClass]="{ 'star-filled': star, 'star-empty': !star }">
                  {{ star ? 'star' : 'star_border' }}
                </mat-icon>
              }
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class="review-actions">
        <button mat-button class="bg-primary" routerLink="/resena">
          <mat-icon>arrow_back</mat-icon>
          <span>{{ 'review.detail.back' | translate }}</span>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
